# Archivos de compilación de Java
*.class
*.jar
*.war
*.ear

# Ignorar archivos PlantUML
*.puml

# Carpetas de compilación y distribución de NetBeans/Ant
build/
dist/

# Configuraciones privadas de NetBeans
**/nbproject/private/
**/nbproject/private/*
**/build/
**/dist/

# Archivos de NetBeans generados automáticamente
**/nbproject/private/config.properties
**/nbproject/private/private.properties
**/nbproject/private/private.xml

# Configuración privada de NetBeans
nbproject/private/

# Archivos de NetBeans
*.nbattrs

# Logs y temporales
*.log

# Sistema operativo
.DS_Store
Thumbs.db

config.properties

/Unit 2 - GUI/Exercise1/nbproject/private/
/Unit 2 - GUI/Exercise4/nbproject/private/
/Unit 2 - GUI/Exercise5/nbproject/private/
/Exercise1/nbproject/private/
/Unit 4 - College Database/Exercise1/nbproject/private/
